@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ff4d9e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ff4d9e;
    --muted: #ffa6cc;
    --primary: #ff4d9e;
    --primary-foreground: #ffffff;
    --primary-dark: #d1066a;
    --primary-light: #fd7bb5;
    --secondary: #f9ebec;
    --secondary-foreground: #ff4d9e;
    --secondary-dark: #f9c6dc;
    --accent: #cdb9f0;
    --accent-foreground: #bb7af2;
    --simple: #cdcce7;
    --simple-foreground: #ab9bcf;
    --border: #ff4d9e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
